.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rapp.history
.DS_Store
analysis/figure
analysis/*png
analysis/*html
analysis/*_cache
analysis/site_libs
data/bed
data/igv
data/bw
data/other
data/liftover
data/rnaseq
data/peaks
*_extended.Rmd
